/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --bg-1:#202020;
  --bg-2:#181818;
  --bg-3:#303030;
  --color-1: #fff;
  --font-1: "Baloo Tammudu 2", cursive;
  --font-2: Roboto;
  --z-relative: 10;
  --z-absolute: 50;
  --z-menu: 100;
  --z-modal: 500;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-2);
  color: var(--color-1);
  font-family: var(--font-1);
}

header {
  --height: 50px;
  width: 100%;
  height: var(--height);
  background-color: var(--bg-1);
  display: flex;
  align-items: center;
  padding: 5px 15px;
}
header .btn_menu {
  background-color: transparent;
  border: 0;
  position: relative;
  width: 40px;
  height: 40px;
  outline: none;
  cursor: pointer;
  padding: 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
header .btn_menu:hover {
  background-color: var(--bg-2);
}
header .btn_menu svg {
  fill: var(--color-1);
  width: 24px;
  height: 24px;
}
header .menu {
  position: fixed;
  top: calc(var(--height) - 1px);
  left: 0;
  width: auto;
  min-width: 300px;
  height: calc(100% - var(--height));
  background-color: var(--bg-1);
  z-index: var(--z-menu);
  transition: 0.5s;
  overflow: auto;
}
header:not(.active) .menu {
  transform: translateX(-100%);
}
header.active .btn_menu:after, header.active .btn_menu:before {
  box-shadow: none;
}
header.active .btn_menu:after {
  transform: rotate(45deg);
}
header.active .btn_menu:before {
  transform: rotate(-45deg);
}

.formLogin {
  width: 100%;
  max-width: 400px;
  margin: 15px auto;
  padding: 0 15px;
}
.formLogin form {
  padding: 15px;
  border-radius: 5px;
  background-color: var(--bg-3);
}
.formLogin form .content_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.formLogin form .content_label svg {
  fill: var(--color-1);
  margin-right: 5px;
}
.formLogin form .content_label .content_input {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.formLogin form .content_label .content_input span {
  width: 100%;
}
.formLogin form .content_label .content_input input {
  border: 0;
  border-radius: 5px;
  outline: none;
  width: 100%;
  height: 30px;
  background-color: var(--bg-1);
  color: var(--color-1);
  padding: 5px 10px;
  line-height: 1;
  font-family: var(--font-2);
}
.formLogin form .content_btn .btn_login {
  display: flex;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  width: 100%;
  outline: none;
  height: 30px;
  background-color: var(--bg-1);
  color: var(--color-1);
  padding: 5px 10px;
  line-height: 1;
  font-family: var(--font-2);
}

/*# sourceMappingURL=style.css.map */
