.formLogin{
    width: 100%;
    max-width: 400px;
    margin: 15px auto;
    padding: 0 15px;
    form{
        padding: 15px;
        border-radius: 5px;
        background-color: var(--bg-3);
        .content_label{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;
            svg{
                fill: var(--color-1);
                margin-right: 5px;
            }
            .content_input{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                span{
                    width: 100%;
                }
                input{
                    border: 0;
                    border-radius: 5px;
                    outline: none;
                    width: 100%;
                    height: 30px;
                    background-color: var(--bg-1);
                    color:var(--color-1);
                    padding: 5px 10px;
                    line-height: 1;
                    font-family: var(--font-2);
                }
            }
        }
        .content_btn{
            .btn_login{
                display: flex;
                text-decoration: none;
                text-align: center;
                justify-content: center;
                cursor: pointer;
                border: 0;
                border-radius: 5px;
                width: 100%;
                outline: none;
                height: 30px;
                background-color: var(--bg-1);
                color:var(--color-1);
                padding: 5px 10px;
                line-height: 1;
                font-family: var(--font-2);
            }
        }
    }
}