@import './normalize.scss';

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600&display=swap');
:root{
    --bg-1 :#202020;
    --bg-2 :#181818;
    --bg-3 :#303030;

    --color-1 : #fff;

    --font-1 : 'Baloo Tammudu 2', cursive;
    --font-2: Roboto;

    --z-relative : 10;
    --z-absolute : 50;
    --z-menu : 100;
    --z-modal : 500;
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    background-color: var(--bg-2);
    color:var(--color-1);
    font-family: var(--font-1);
}
header{
    --height : 50px;
    width: 100%;
    height: var(--height);
    background-color: var(--bg-1);
    display: flex;
    align-items: center;
    padding: 5px 15px;
    .btn_menu{
        background-color: transparent;
        border:0;
        position: relative;
        width: 40px;
        height: 40px;
        outline: none;
        cursor: pointer;
        padding: 0;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;
        &:hover{
            background-color: var(--bg-2);
        }
        svg{
            fill: var(--color-1);
            width: 24px;
            height: 24px;
        }
    }
    .menu{
        position: fixed;
        top: calc(var(--height) - 1px);
        left: 0;
        width: auto;
        min-width: 300px;
        height: calc(100% - var(--height));
        background-color: var(--bg-1);
        z-index: var(--z-menu);
        transition: .5s;
        overflow: auto;
    }
    &:not(.active){
        .menu{
            transform: translateX(-100%);
        }
    }
    &.active{
        .btn_menu{
            &:after,&:before{
                box-shadow: none;
            }
            &:after{
                transform: rotate(45deg);
            }
            &:before{
                transform: rotate(-45deg);
            }
        }
    }
}
@import './formLogin.scss';